@import "tailwindcss";

@theme {
  /* Pengaturan Warna Premium */
  --color-primary: #0052cc;
  --color-primary-dark: #003d99;
  --color-navy: #0a192f;
  --color-cyan-accent: #00e5ff;

  /* Pengaturan Animasi */
  --animate-blob: blob 7s infinite;
  --animate-fade-up: fadeUp 0.8s ease-out forwards;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  @apply bg-navy text-gray-200 antialiased;
}

::selection {
  @apply bg-cyan-accent text-navy;
}
